.app.light {
  --bg-color: rgb(222, 218, 236);
  --inverted-bg-color: #0c0c58;
  --primary-color: rgb(47, 60, 238);
  --secondary-color: rgb(54, 6, 210);
  --inverted-primary-color: #08b408;
  --inverted-secondaty-color: #04ff04;
}
